.Auth {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 4rem;
    position: relative;
    flex-wrap: wrap;
}

.Auth>div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.a-left {
    gap: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.a-left>img {
    width: 4rem;
    height: 4rem;
    filter: invert(10%) sepia(90%) saturate(3500%) hue-rotate(245deg) brightness(109%) contrast(155%);
}

.webName>h1 {
    font-size: 3rem;
    background-color: red;
    background-image: var(--buttonBg);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.webName>h6 {
    font-size: 0.85rem;
}

.infoForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    gap: 2rem;
}



.infoInput {
    border: none;
    outline: none;
    background-color: var(--inputColor);
    border-radius: 8px;
    padding: 20px;
    flex: 1;
}

.infoForm>div {
    display: flex;
    gap: 1rem;
    height: 2rem;
    width: 90%;
}


.infobutton {
    width: 6rem;
    height: 2rem;
    align-self: flex-end;
}

.authForm {
    background-color: var(--cardColor);
    border-radius: 1rem;
    padding: 1rem;
}

.authForm>div {
    width: 100%;
    align-items: center;
    justify-content: center;
}

input {
    margin: 3px;
}

.signupLoginText {
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}

.signupLoginText:hover {
    transform: scale(1.01);
}

.passwordWarning {
    color: red;
    display: block;
    align-self: flex-end;
    font-size: 12px;
    margin-right: 5px;
}

button:disabled {
    background: silver;
    pointer-events: none;
}