.Home {
    position: relative;
    display: grid;
    grid-template-columns: 18rem auto;
    gap: 1rem;
}

@media only screen and (max-width:426px) {
    .Home {
        display: flex;
        flex-direction: column;
    }
}

@media only screen and (max-width:770px) {
    .Home {
        grid-template-columns: 15rem auto;
    }

    .postSide{
        min-width: 15rem;
    }
}

.RightSide {
    max-width: 17rem;
}